@import "bourbon"

@media only screen and (max-width : 1150px)

	.pics
		&__list
			display: block
			overflow: auto
		&__item
			max-width: none !important
			max-height: none !important
			height: 250px
			width: 33%
			margin: 0 !important

	.pricelist
		&__tab
			font-size: 15px

	

/* Desktop-frist */
@media only screen and (max-width : 991px)
	.hide-on-mobile
		display: none !important

	.container
		max-width: 500px

	.header
		background-color: #fff
		z-index: 5
		position: fixed
		left: 0
		top: 0
		width: 100%
		&__inner,
		&__logo,
		&__phone
			display: block
			width: auto
		&__middle
			display: none
		&__top
			padding: 0
			border: none
		&__inner
			padding: 0
		&__logo
			padding: 15px
			font-size: 0
		&__nav
			padding: 0
		&__burger
			width: 30px
			height: 30px
			position: absolute
			display: block
			top: 15px
			right: 15px
			background-color: transparent
			border: none
			padding: 0
			background-image: url(../img/icon-burger.png)
			background-repeat: no-repeat
			background-position: 100% 50%
			&.open
				background-image: url(../img/icon-close.png)
				background-position: 100% 0%
		.logo
			max-width: 155px
		.phone
			text-align: center
			font-size: 0
			padding: 8px
			background-color: #5c84f0
			a
				font-size: 20px
				color: #fff
				margin: 0

	.menu
		display: none
		&__list
			display: block
			padding: 20px 0
			margin: 0
			transform: none
		&__item
			display: block
			padding: 10px 15px
			background-color: #eef2fd
			&+&
				margin-top: 5px
		&__footer
			display: block
			padding: 0 15px 20px


	.bage
		margin: 0
		width: 100%
		&+&
			margin-top: 10px

	.hero
		padding: 0
		margin-top: 94px
		&__inner,
		&__left,
		&__right
			display: block
		&__left
			width: auto
			padding-right: 0
			margin-bottom: 65px
			padding-top: 15px
		&__right
			padding: 15px
			&::after
				top: 0
				bottom: 0
				opacity: 1
		&__title
			font-size: 16px
			line-height: 1.2
			margin-bottom: 15px
			strong
				font-size: 18px
				margin-top: 0
		&__subtitle
			margin-bottom: 25px
			width: 60%
		&__price
			font-size: 14px
			padding: 15px
			strong
				font-size: 24px
				margin-top: 8px
		&__footer
			margin-top: 20px
		&__phones
			display: none
		&__step
			font-size: 16px
			padding-left: 50px
			min-height: 30px
			i
				width: 35px
				height: 35px
				font-size: 20px
				border-width: 3px
				line-height: 30px
				margin-top: -17.5px
		&__form
			margin-top: 15px

	.form
		&__title
			font-size: 14px
			max-width: 320px
			margin-left: auto
			margin-right: auto
			margin-bottom: 15px
		&__field
			margin-bottom: 10px
			font-size: 16px
			text-align: center
		&__btn
			font-size: 16px

	.guarantees
		padding: 15px 0
		&__list
			display: block
		&__item
			padding: 15px
			&-title
				font-size: 20px
				max-width: 300px
			&-text
				width: 60%
				font-size: 14px
			&+&
				margin-top: 10px
			&--1
				background-size: 150px
				background-position: bottom -20px right -30px
			&--2
				background-size: 250px
				background-position: bottom -80px right -80px
			&--3
				background-size: 150px
				background-position: bottom -30px right -30px
		&__promo
			background-image: url(../img/guarantees-promo-mobile.png)
			background-position: 100% 50%
			padding: 20px 100px 20px 20px
			font-size: 16px
			margin-top: 10px
			strong
				font-size: 30px

	.places
		padding: 30px 0
		&__title
			font-size: 24px
			padding-bottom: 20px
			margin-bottom: 15px
		&__list
			display: block
		&__slider
			max-width: 270px
			margin: 0 auto
			position: relative
		&__item
			width: auto
			margin: 0
			float: left
			&-text
				font-size: 14px
				padding: 10px 20px

	.pricelist
		padding: 30px 0
		&__form
			display: none
		&__title
			font-size: 24px
			padding-bottom: 20px
			margin-bottom: 15px
		&__disclamer
			position: relative
			top: auto
			right: auto
		&__categories
		&__tab
			float: none
			font-weight: 700
			font-size: 20px
			width: 100%	
			margin: 0
			margin-top: 10px
			position: relative
			&.active
				&::before
					transform: scale(1,-1)
			&::after
				width: 100%
			&::before
				content: url(../img/icon-arrow.png)
				position: absolute
				top: 50%
				right: 0
				margin-top: -15px
		&__prices
			float: none
			margin: 0
			padding-bottom: 15px
			padding-right: 0
			&.active
				display: block
			&-item
				padding: 15px
				display: flex
				justify-content: space-between
				align-items: center
				margin-top: 10px
			&-name
				display: inline-block
				vertical-align: middle
				font-size: 15px
				padding-right: 10px
			&-price
				display: inline-block
				vertical-align: middle
				margin-top: 0
				font-size: 17px
				width: 120px
				text-align: right

	.promo
		display: block
		&__inner
			padding: 15px
			display: block
			background-position: right -50px center, center center
			background-size: 150px, auto
		&__text,
		&__form
			display: block
		&__text
			font-size: 24px	
			padding: 0
			width: 150px
			margin-bottom: 20px
		&__form
			text-align: center
		&__field
			display: block
			width: 100%	
			margin: 0
			font-size: 16px
			text-align: center
		&__btn
			display: block
			width: 100%
			margin-top: 10px
			font-size: 16px
			border-radius: 6px

	.call
		&__inner,
		&__text,
		&__form
			display: block
		&__inner
			padding: 15px
			background-position: right -50px center, center center
			background-size: 150px, auto
		&__text
			font-size: 24px	
			padding: 0
			margin-bottom: 20px
		&__form
			text-align: center
		&__field
			display: block
			width: 100%	
			margin: 0
			font-size: 16px
			text-align: center
		&__btn
			display: block
			width: 100%
			margin-top: 10px
			font-size: 16px
			border-radius: 6px

	.scheme
		padding: 30px 0
		&__title
			font-size: 24px
			padding-bottom: 20px
			margin-bottom: 15px
		&__list
			display: block
		&__item
			padding: 15px 15px 15px 100px
			font-size: 14px
			min-height: 90px
			margin-top: 10px
			strong
				width: 60px
				height: 60px
				margin-top: -30px
				font-size: 30px
				border-width: 5px
				left: 15px

	.questions
		&__inner,
		&__text,
		&__form
			display: block
		&__inner
			padding: 15px
			font-size: 16px
			background-position: right -50px top -15px, center center
			background-size: 150px, auto
		&__text
			margin-bottom: 15px
			padding-left: 0
			strong
				font-size: 24px
		&__form
			text-align: center
		&__field
			display: block
			width: 100%	
			margin: 0
			font-size: 16px
			text-align: center
		&__btn
			display: block
			width: 100%
			margin-top: 10px
			font-size: 16px
			border-radius: 6px

	.clients
		padding: 30px 0
		&__title
			font-size: 24px
			padding-bottom: 20px
			margin-bottom: 15px

	.seo
		padding: 0 0 30px
		font-size: 14px
		&__title
			font-size: 24px
			padding-bottom: 20px
			margin-bottom: 15px
		&__text
			img
				float: none
				top: auto
				margin: 0 auto 15px
				display: block

	.reasons
		padding: 30px 0
		&__title
			font-size: 24px
			padding-bottom: 20px
			margin-bottom: 15px
		&__list
			display: block
		&__item
			display: flex
			align-items: center
			padding: 15px 15px 15px 100px
			position: relative
			min-height: 90px
			strong
				display: block
				position: absolute
				left: 15px
				top: 50%
				margin-top: -30px
				width: 60px
				height: 60px
				border-width: 5px
				font-size: 30px
				line-height: 55px
			&:nth-child(3),
			&:nth-child(5),
			&:nth-child(7),
			&:nth-child(8)
				display: none


	.contacts
		padding: 15px 0 0
		margin-left: -30px
		transform: translateX(15px)
		&__title
			font-size: 24px
			padding-bottom: 20px
			margin-bottom: 15px
		&__inner,
		&__left,
		&__right
			display: block
		&__left
			padding: 30px 15px 15px
		&__item
			font-size: 16px
		&__right
			padding-top: 100%
			width: 100%
		&__form
			display: block
			background-color: #324d7d
			background-image: linear-gradient(to bottom, #1c305a, #5077ad)
			padding: 15px

	.footer
		padding: 15px 0
		&__inner
			table-layout: initial
		&__middle
			display: none
		.logo
			max-width: 105px
		.phone
			font-size: 0
			a
				font-size: 18px
				margin: 0

	.popup,
	.modal
		&__box
			padding: 35px 20px
		.form
			&__title
				font-size: 16px

	.modal
		&__step
			padding-left: 70px
			font-size: 15px
			min-height: 50px
			i
				width: 50px
				height: 50px
				margin-top: -25px
				font-size: 20px
				line-height: 40px
				border-width: 5px

	.response
		&__box
			padding: 35px 20px
		&__title
			font-size: 20px
			margin-bottom: 10px
		&__text
			font-size: 16px


	.pics
		padding: 30px 0
		&__title
			font-size: 24px
			padding-bottom: 20px
			margin-bottom: 15px
		&__slider
			max-width: 370px
			margin: 0 auto
		&__list
			display: block
			overflow: hidden
		&__item
			margin: 0 !important
			height: auto


	.slick-list
		overflow: hidden
	.slick-dotted.slick-slider
		margin-bottom: 0
	.slick-dots
		bottom: auto
		position: relative
		margin-top: 10px
		li
			display: inline-block
			width: auto
			height: auto
			button
				width: 12px
				height: 12px
				background-color: #8a92a6
				transform: scale(.7)
			&.slick-active,
			&:hover
				button
					transform: scale(1)
					background-color: #00b8ff