@import url(slick-theme.css);
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #bbbbbb;
}

input:-moz-placeholder {
  color: #bbbbbb;
}

input::-moz-placeholder {
  color: #bbbbbb;
}

input:-ms-input-placeholder {
  color: #bbbbbb;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  background-color: #fff;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "PTRootUI-Bold", sans-serif;
}

.container, .header__inner, .header__nav {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__inner, .hero__inner, .promo__inner, .call__inner, .questions__inner, .contacts__inner, .footer__inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.hero__left, .hero__right {
  display: table-cell;
  vertical-align: top;
}

.w-page {
  overflow: hidden;
}

.bage {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  background-color: #5c84f0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 5px 10px;
  border: none;
  outline: none;
  font-family: "InterUI-Bold", sans-serif;
}

.bage:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.bage--invert {
  color: #6187d8;
  background-color: #eef0fc;
}

.btn {
  display: inline-block;
  border: none;
  background-color: #369bff;
  background-image: -webkit-gradient(linear, left top, right top, from(#45beff), to(#3599ff));
  background-image: -webkit-linear-gradient(left, #45beff, #3599ff);
  background-image: -o-linear-gradient(left, #45beff, #3599ff);
  background-image: linear-gradient(to right, #45beff, #3599ff);
  font-family: "PTRootUI-Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.phone {
  font-family: "InterUI-Bold", sans-serif;
  color: #737373;
  text-transform: lowercase;
  font-size: 10px;
  line-height: 1;
  font-weight: 500;
}

.phone a {
  font-size: 25px;
  text-decoration: none;
  color: #000;
  display: block;
  font-weight: 600;
  margin-top: 5px;
}

.header__logo, .header__middle, .header__phone {
  display: table-cell;
  vertical-align: middle;
}

.header__logo {
  width: 250px;
}

.header__phone {
  width: 250px;
  text-align: right;
}

.header__middle {
  text-align: center;
}

.header__top {
  padding: 30px 0;
  border-bottom: 1px solid #abb9eb;
}

.header__burger {
  display: none;
}

.menu__footer {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: -30px;
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.menu__item {
  padding: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #575757;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__item--highlight {
  color: #3293ff;
}

.menu__item:hover {
  text-decoration: underline;
}

.hero {
  background-image: url(../img/hero-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  padding: 90px 0 110px;
}

.hero__left, .hero__right {
  vertical-align: middle;
  position: relative;
}

.hero__left {
  width: 65%;
  padding-right: 100px;
}

.hero__title {
  line-height: 1;
  font-size: 30px;
  color: #14244d;
  margin: 0 0 40px;
}

.hero__title strong {
  font-size: 42px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 15px;
}

.hero__subtitle {
  font-size: 16px;
  margin: 0 0 50px;
}

.hero__price {
  padding: 25px 30px;
  background-color: #fff;
  display: table;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
}

.hero__price strong {
  display: block;
  font-size: 36px;
  font-weight: 700;
  color: #6187d8;
  margin-top: 15px;
}

.hero__footer {
  margin-top: 55px;
}

.hero__phone {
  font-size: 28px;
  font-weight: 700;
  color: #14244d;
  text-decoration: none;
  margin-left: 30px;
}

.hero__right {
  opacity: .99;
  padding: 0 40px;
}

.hero__right::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -90px;
  bottom: -110px;
  left: 0;
  width: 100%;
  opacity: .8;
  background-color: #324d7d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c305a), to(#5077ad));
  background-image: -webkit-linear-gradient(top, #1c305a, #5077ad);
  background-image: -o-linear-gradient(top, #1c305a, #5077ad);
  background-image: linear-gradient(to bottom, #1c305a, #5077ad);
}

.hero__step {
  position: relative;
  padding-left: 100px;
  min-height: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 20px;
}

.hero__step i {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 0;
  font-style: normal;
  border: 6px solid #3eadff;
  width: 70px;
  height: 70px;
  line-height: 58px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.hero__form {
  margin-top: 80px;
}

.form__title {
  font-family: "PTRootUI-Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 30px;
  text-align: center;
}

.form__field {
  width: 100%;
  color: #010101;
  font-size: 18px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  padding: 16px;
  font-weight: 400;
  margin: 0 0 20px;
}

.form__btn {
  width: 100%;
}

.guarantees {
  padding: 50px 0;
}

.guarantees__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.guarantees__item {
  -webkit-flex-basis: 360px;
  -ms-flex-preferred-size: 360px;
  flex-basis: 360px;
  border: 1px solid #c5d4e7;
  padding: 30px 30px 200px;
  background-repeat: no-repeat;
}

.guarantees__item-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.2;
  color: #14244d;
  margin: 0 0 15px;
  position: relative;
  padding-bottom: 15px;
}

.guarantees__item-title::after {
  content: '';
  width: 50px;
  height: 4px;
  background-color: #5d75d7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.guarantees__item-text {
  font-size: 16px;
  margin: 0;
}

.guarantees__item--1 {
  background-image: url(../img/guarantees-img-1.jpg);
  background-position: bottom -100px right -50px;
}

.guarantees__item--2 {
  background-image: url(../img/guarantees-img-2.jpg);
  background-position: bottom -170px right -60px;
}

.guarantees__item--3 {
  background-image: url(../img/guarantees-img-3.jpg);
  background-position: bottom -80px right -50px;
}

.guarantees__promo {
  background-color: #389fff;
  background-image: url(../img/guarantees-promo.png), -webkit-gradient(linear, left top, right top, from(#3499ff), to(#44bdff));
  background-image: url(../img/guarantees-promo.png), -webkit-linear-gradient(left, #3499ff, #44bdff);
  background-image: url(../img/guarantees-promo.png), -o-linear-gradient(left, #3499ff, #44bdff);
  background-image: url(../img/guarantees-promo.png), linear-gradient(to right, #3499ff, #44bdff);
  background-repeat: no-repeat;
  background-position: 85% 65%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  padding: 25px 35px;
  padding-right: 60%;
  margin: 30px 0 0;
}

.guarantees__promo strong {
  font-weight: 700;
  font-size: 35px;
  display: inline-block;
  margin-bottom: 10px;
}

.places {
  padding: 60px 0;
  background-color: #14244d;
}

.places__title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 20px;
  position: relative;
  padding-bottom: 30px;
  line-height: 1.3;
}

.places__title::after {
  content: '';
  width: 70px;
  height: 8px;
  background-color: #5d75d7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.places__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.places__item {
  width: 31%;
  margin: 30px 0 0;
  background-color: #fff;
}

.places__item-text {
  font-size: 16px;
  color: #14244d;
  margin: 0;
  padding: 13px 20px;
}

.pricelist {
  padding: 60px 0;
}

.pricelist__inner {
  position: relative;
  overflow: hidden;
}

.pricelist__title {
  font-size: 30px;
  font-weight: 700;
  color: #14244d;
  margin: 0 0 25px;
  position: relative;
  padding-bottom: 30px;
  line-height: 1.3;
}

.pricelist__title::after {
  content: '';
  width: 70px;
  height: 8px;
  background-color: #5d75d7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.pricelist__disclamer {
  font-size: 16px;
  color: #575757;
  position: absolute;
  top: 10px;
  right: 0;
  margin: 0;
  font-family: "InterUI-SemiBold", sans-serif;
  font-weight: 500;
}

.pricelist__categories {
  overflow: auto;
}

.pricelist__tab {
  font-size: 18px;
  color: #14244d;
  line-height: 1.2;
  position: relative;
  padding-bottom: 10px;
  opacity: .5;
  cursor: pointer;
  margin: 0;
  display: inline-block;
  float: left;
  min-height: 52px;
  overflow: hidden;
  margin-right: 15px;
}

.pricelist__tab::after {
  content: '';
  width: 50px;
  height: 4px;
  background-color: #5d75d7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.pricelist__tab.active, .pricelist__tab:hover {
  opacity: 1;
}

.pricelist__prices {
  display: none;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  float: right;
  width: 100%;
  margin-left: -100%;
  margin-top: 52px;
}

.pricelist__prices.active {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.pricelist__prices-item {
  -webkit-flex-basis: 270px;
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
  border: 1px solid #c5d4e7;
  margin-top: 30px;
  padding: 20px 30px;
}

.pricelist__prices-name {
  padding-left: 45px;
  position: relative;
  font-family: "PTRootUI-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.pricelist__prices-name::before {
  content: url(../img/prices-check-icon.png);
  position: absolute;
  top: -5px;
  left: 0;
}

.pricelist__prices-price {
  font-family: "PTRootUI-Bold", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #6187d8;
  margin: 10px 0 0;
  line-height: 1;
}

.promo__inner {
  background-color: #389fff;
  background-image: url(../img/promo-bg.png), -webkit-gradient(linear, left top, right top, from(#3499ff), to(#44bdff));
  background-image: url(../img/promo-bg.png), -webkit-linear-gradient(left, #3499ff, #44bdff);
  background-image: url(../img/promo-bg.png), -o-linear-gradient(left, #3499ff, #44bdff);
  background-image: url(../img/promo-bg.png), linear-gradient(to right, #3499ff, #44bdff);
  background-position: 50% 30%;
  background-repeat: no-repeat;
  padding: 30px 0;
  overflow: hidden;
}

.promo__text, .promo__form {
  display: table-cell;
  vertical-align: middle;
}

.promo__text {
  padding-left: 35px;
  font-size: 35px;
  margin: 0;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
}

.promo__form {
  text-align: right;
}

.promo__field {
  width: 270px;
  color: #010101;
  font-size: 18px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  padding: 16px;
  font-weight: 400;
  margin: 0 25px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.promo__btn {
  text-align: center;
  border: none;
  background-color: #5d75d7;
  font-family: "PTRootUI-Bold", sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 15px 30px;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.promo__btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.call__inner {
  background-color: #389fff;
  background-image: url(../img/call-bg.png), -webkit-gradient(linear, left top, right top, from(#3499ff), to(#44bdff));
  background-image: url(../img/call-bg.png), -webkit-linear-gradient(left, #3499ff, #44bdff);
  background-image: url(../img/call-bg.png), -o-linear-gradient(left, #3499ff, #44bdff);
  background-image: url(../img/call-bg.png), linear-gradient(to right, #3499ff, #44bdff);
  background-position: 50% 30%;
  background-repeat: no-repeat;
  padding: 30px 35px;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  font-size: 35px;
}

.call__text, .call__phone {
  display: table-cell;
  vertical-align: middle;
}

.call__text {
  margin: 0;
}

.call__phone {
  text-align: right;
  text-decoration: none;
  color: inherit;
}

.call__phone:hover {
  color: #14244d;
}

.questions__inner {
  background-color: #389fff;
  background-image: url(../img/questions-bg.png), -webkit-gradient(linear, left top, right top, from(#3499ff), to(#44bdff));
  background-image: url(../img/questions-bg.png), -webkit-linear-gradient(left, #3499ff, #44bdff);
  background-image: url(../img/questions-bg.png), -o-linear-gradient(left, #3499ff, #44bdff);
  background-image: url(../img/questions-bg.png), linear-gradient(to right, #3499ff, #44bdff);
  background-position: 50% 30%;
  background-repeat: no-repeat;
  padding: 30px 35px;
  overflow: hidden;
  color: #fff;
  line-height: 1.2;
  font-size: 20px;
}

.questions__text, .questions__phone {
  display: table-cell;
  vertical-align: middle;
}

.questions__text {
  margin: 0;
}

.questions__text strong {
  font-weight: 700;
  font-size: 35px;
  display: block;
  margin-bottom: 10px;
}

.questions__phone {
  text-align: right;
  text-decoration: none;
  color: inherit;
  font-size: 35px;
  font-weight: 700;
}

.questions__phone:hover {
  color: #14244d;
}

.questions__form {
  display: none;
}

.scheme {
  padding: 60px 0;
}

.scheme__title {
  font-size: 30px;
  font-weight: 700;
  color: #14244d;
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 30px;
  line-height: 1.3;
}

.scheme__title::after {
  content: '';
  width: 70px;
  height: 8px;
  background-color: #5d75d7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.scheme__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.scheme__item {
  -webkit-flex-basis: 370px;
  -ms-flex-preferred-size: 370px;
  flex-basis: 370px;
  border: 1px solid #c5d4e7;
  margin-top: 25px;
  padding: 30px 30px 30px 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 18px;
  line-height: 1.2;
}

.scheme__item strong {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 30px;
  font-style: normal;
  border: 6px solid #3eadff;
  color: #14244d;
  width: 70px;
  height: 70px;
  line-height: 58px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.clients {
  padding: 60px 0;
}

.clients__title {
  font-size: 30px;
  font-weight: 700;
  color: #14244d;
  margin: 0 0 25px;
  position: relative;
  padding-bottom: 30px;
  line-height: 1.3;
}

.clients__title::after {
  content: '';
  width: 70px;
  height: 8px;
  background-color: #5d75d7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.clients__list {
  font-size: 0;
  text-align: center;
}

.clients__item {
  margin: 3%;
}

.seo {
  padding: 0 0 60px;
}

.seo__title {
  font-size: 30px;
  font-weight: 700;
  color: #14244d;
  margin: 0 0 25px;
  position: relative;
  padding-bottom: 30px;
  line-height: 1.3;
}

.seo__title::after {
  content: '';
  width: 70px;
  height: 8px;
  background-color: #5d75d7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.seo__text {
  font-family: "InterUI-Regular", sans-serif;
  font-size: 20px;
  color: #737373;
  line-height: 1.5;
  margin: 0;
}

.seo__text img {
  float: right;
  margin-left: 35px;
  margin-bottom: 35px;
  position: relative;
  top: 7px;
}

.reasons {
  padding: 60px 0;
  background-color: #14244d;
}

.reasons__title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 30px;
  line-height: 1.3;
}

.reasons__title::after {
  content: '';
  width: 70px;
  height: 8px;
  background-color: #5d75d7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.reasons__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reasons__item {
  -webkit-flex-basis: 270px;
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
  padding: 35px;
  font-size: 16px;
  line-height: 1.3;
  background-color: #fff;
  margin-top: 25px;
}

.reasons__item strong {
  font-style: normal;
  border: 6px solid #3eadff;
  color: #14244d;
  width: 70px;
  height: 70px;
  line-height: 58px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  display: table;
  margin-bottom: 20px;
}

.contacts {
  padding: 60px;
}

.contacts__left, .contacts__right {
  display: table-cell;
  vertical-align: middle;
}

.contacts__left {
  padding: 35px 35px 35px 0;
}

.contacts__right {
  width: 60%;
  position: relative;
}

.contacts__title {
  font-size: 30px;
  font-weight: 700;
  color: #14244d;
  margin: 0 0 25px;
  position: relative;
  padding-bottom: 30px;
  line-height: 1.3;
}

.contacts__title::after {
  content: '';
  width: 70px;
  height: 8px;
  background-color: #5d75d7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contacts__item {
  font-size: 24px;
  line-height: 1.3;
  margin: 20px 0 0;
}

.contacts__item a {
  color: inherit;
  text-decoration: none;
}

.contacts__map {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contacts__form {
  display: none;
}

.footer {
  background-color: #14244d;
  padding: 25px 0;
}

.footer__left, .footer__middle, .footer__right {
  display: table-cell;
  vertical-align: middle;
}

.footer__middle {
  text-align: center;
}

.footer__right {
  text-align: right;
}

.footer__right .phone {
  color: #fff;
}

.footer__right .phone a {
  color: #fff;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  text-align: left;
}

.popup__wrapper {
  height: 100%;
  width: 100%;
}

.popup__inner {
  vertical-align: middle;
  padding: 15px;
}

.popup__box {
  background-color: #14244d;
  width: 100%;
  max-width: 570px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 45px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../img/icon-close-popup.png);
  cursor: pointer;
}

.popup .form {
  max-width: 380px;
  margin: 0 auto;
}

.popup .form__title {
  font-size: 18px;
  font-weight: 400;
}

.popup .form__btn {
  font-weight: 500;
}

.response {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.response__wrapper {
  height: 100%;
  width: 100%;
}

.response__inner {
  vertical-align: middle;
  padding: 15px;
}

.response__box {
  background-color: #fff;
  width: 100%;
  max-width: 570px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 45px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.response__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../img/icon-close-response.png);
  cursor: pointer;
}

.response__title {
  font-size: 30px;
  margin: 0 0 20px;
  color: #14244d;
}

.response__text {
  font-size: 18px;
  color: #737373;
  margin: 0;
}

.pics {
  padding: 60px 0;
}

.pics__title {
  font-size: 30px;
  font-weight: 700;
  color: #14244d;
  margin: 0 0 20px;
  position: relative;
  padding-bottom: 30px;
  line-height: 1.3;
}

.pics__title::after {
  content: '';
  width: 70px;
  height: 8px;
  background-color: #5d75d7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.pics__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pics__item {
  float: left;
  display: block;
  margin: 30px 0 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.pics__item:nth-child(1) {
  max-width: 370px;
}

.pics__item:nth-child(2) {
  max-width: 270px;
  max-height: 200px;
}

.pics__item:nth-child(3) {
  max-width: 170px;
}

.pics__item:nth-child(4) {
  max-width: 270px;
}

.pics__item:nth-child(5), .pics__item:nth-child(6) {
  max-width: 170px;
}

.pics__item:nth-child(7) {
  max-width: 270px;
  margin-top: -55px;
}

.pics__item:nth-child(8) {
  max-width: 270px;
}

.pics__item:nth-child(9) {
  max-width: 170px;
}

@media only screen and (max-width: 1150px) {
  .pics__item {
    max-width: none !important;
    max-height: none !important;
  }
  .pics__item:nth-child(7) {
    margin-top: 30px;
  }
  .pricelist__tab {
    font-size: 15px;
  }
}

/* Desktop-frist */
@media only screen and (max-width: 991px) {
  .container {
    max-width: 500px;
  }
  .header__inner, .header__logo, .header__phone {
    display: block;
    width: auto;
  }
  .header__middle {
    display: none;
  }
  .header__top {
    padding: 0;
    border: none;
  }
  .header__inner {
    padding: 0;
  }
  .header__logo {
    padding: 15px;
    font-size: 0;
  }
  .header__nav {
    padding: 0;
  }
  .header__burger {
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    background-image: url(../img/icon-burger.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }
  .header__burger.open {
    background-image: url(../img/icon-close.png);
    background-position: 100% 0%;
  }
  .header .logo {
    max-width: 155px;
  }
  .header .phone {
    text-align: center;
    font-size: 0;
    padding: 8px;
    background-color: #5c84f0;
  }
  .header .phone a {
    font-size: 20px;
    color: #fff;
    margin: 0;
  }
  .menu {
    display: none;
  }
  .menu__list {
    display: block;
    padding: 20px 0;
    margin: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .menu__item {
    display: block;
    padding: 10px 15px;
    background-color: #eef2fd;
  }
  .menu__item + .menu__item {
    margin-top: 5px;
  }
  .menu__footer {
    display: block;
    padding: 0 15px 20px;
  }
  .bage {
    margin: 0;
    width: 100%;
  }
  .bage + .bage {
    margin-top: 10px;
  }
  .hero {
    padding: 0;
  }
  .hero__inner, .hero__left, .hero__right {
    display: block;
  }
  .hero__left {
    width: auto;
    padding-right: 0;
    margin-bottom: 65px;
    padding-top: 15px;
  }
  .hero__right {
    padding: 15px;
  }
  .hero__right::after {
    top: 0;
    bottom: 0;
    opacity: 1;
  }
  .hero__title {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  .hero__title strong {
    font-size: 35px;
    margin-top: 0;
  }
  .hero__subtitle {
    margin-bottom: 25px;
    width: 60%;
  }
  .hero__price {
    font-size: 14px;
    padding: 15px;
  }
  .hero__price strong {
    font-size: 24px;
    margin-top: 8px;
  }
  .hero__footer {
    margin-top: 20px;
  }
  .hero__phone {
    display: none;
  }
  .hero__step {
    font-size: 16px;
    padding-left: 50px;
    min-height: 30px;
  }
  .hero__step i {
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-width: 3px;
    line-height: 30px;
    margin-top: -17.5px;
  }
  .hero__form {
    margin-top: 15px;
  }
  .form__title {
    font-size: 14px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .form__field {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
  }
  .form__btn {
    font-size: 16px;
  }
  .guarantees {
    padding: 15px 0;
  }
  .guarantees__list {
    display: block;
  }
  .guarantees__item {
    padding: 15px;
  }
  .guarantees__item-title {
    font-size: 20px;
    max-width: 300px;
  }
  .guarantees__item-text {
    width: 60%;
    font-size: 14px;
  }
  .guarantees__item + .guarantees__item {
    margin-top: 10px;
  }
  .guarantees__item--1 {
    -webkit-background-size: 150px 150px;
    background-size: 150px;
    background-position: bottom -20px right -30px;
  }
  .guarantees__item--2 {
    -webkit-background-size: 250px 250px;
    background-size: 250px;
    background-position: bottom -80px right -80px;
  }
  .guarantees__item--3 {
    -webkit-background-size: 150px 150px;
    background-size: 150px;
    background-position: bottom -30px right -30px;
  }
  .guarantees__promo {
    background-image: url(../img/guarantees-promo-mobile.png);
    background-position: 100% 50%;
    padding: 20px 100px 20px 20px;
    font-size: 16px;
    margin-top: 10px;
  }
  .guarantees__promo strong {
    font-size: 30px;
  }
  .places {
    padding: 30px 0;
  }
  .places__title {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .places__list {
    display: block;
  }
  .places__slider {
    max-width: 270px;
    margin: 0 auto;
    position: relative;
  }
  .places__item {
    width: auto;
    margin: 0;
    float: left;
  }
  .places__item-text {
    font-size: 14px;
    padding: 10px 20px;
  }
  .pricelist {
    padding: 30px 0;
  }
  .pricelist__title {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .pricelist__disclamer {
    position: relative;
    top: auto;
    right: auto;
  }
  .pricelist__tab {
    float: none;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    position: relative;
  }
  .pricelist__tab.active::before {
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
  }
  .pricelist__tab::after {
    width: 100%;
  }
  .pricelist__tab::before {
    content: url(../img/icon-arrow.png);
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
  }
  .pricelist__prices {
    float: none;
    margin: 0;
    padding-bottom: 15px;
  }
  .pricelist__prices.active {
    display: block !important;
  }
  .pricelist__prices-item {
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
  }
  .pricelist__prices-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    padding-right: 15px;
  }
  .pricelist__prices-price {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    font-size: 20px;
  }
  .promo__inner {
    padding: 15px;
    display: block;
    background-position: right -50px center, center center;
    -webkit-background-size: 150px, auto;
    background-size: 150px, auto;
  }
  .promo__text, .promo__form {
    display: block;
  }
  .promo__text {
    font-size: 24px;
    padding: 0;
    width: 150px;
    margin-bottom: 20px;
  }
  .promo__form {
    text-align: center;
  }
  .promo__field {
    display: block;
    width: 100%;
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
  .promo__btn {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
  .call__inner, .call__text, .call__phone {
    display: block;
  }
  .call__inner {
    padding: 15px;
    background-position: right -50px center, center center;
    -webkit-background-size: 150px, auto;
    background-size: 150px, auto;
  }
  .call__text {
    font-size: 24px;
    width: 150px;
    margin-bottom: 25px;
  }
  .call__phone {
    font-size: 24px;
    text-align: center;
  }
  .scheme {
    padding: 30px 0;
  }
  .scheme__title {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .scheme__list {
    display: block;
  }
  .scheme__item {
    padding: 15px 15px 15px 100px;
    font-size: 14px;
    min-height: 90px;
    margin-top: 10px;
  }
  .scheme__item strong {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    font-size: 30px;
    border-width: 5px;
    left: 15px;
  }
  .questions__inner, .questions__text, .questions__phone, .questions__form {
    display: block;
  }
  .questions__inner {
    padding: 15px;
    font-size: 16px;
    background-position: right -50px top -15px, center center;
    -webkit-background-size: 150px, auto;
    background-size: 150px, auto;
  }
  .questions__text {
    margin-bottom: 15px;
  }
  .questions__text strong {
    font-size: 24px;
  }
  .questions__phone {
    font-size: 24px;
    text-align: left;
  }
  .questions__form {
    margin-top: 25px;
  }
  .questions__field {
    width: 100%;
    color: #010101;
    font-size: 16px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: none;
    padding: 16px;
    font-weight: 400;
    margin: 0 25px 0 0;
    display: inline-block;
    vertical-align: middle;
  }
  .questions__btn {
    text-align: center;
    border: none;
    background-color: #5d75d7;
    font-family: "PTRootUI-Bold", sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 15px 30px;
    width: 100%;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    margin-top: 10px;
  }
  .questions__btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .clients {
    padding: 30px 0;
  }
  .clients__title {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .seo {
    padding: 0 0 30px;
  }
  .seo__title {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .seo__text {
    font-size: 14px;
  }
  .seo__text img {
    float: none;
    top: auto;
    margin: 0 auto 15px;
    display: block;
  }
  .reasons {
    padding: 30px 0;
  }
  .reasons__title {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .reasons__list {
    display: block;
  }
  .reasons__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 15px 15px 100px;
    position: relative;
    min-height: 90px;
  }
  .reasons__item strong {
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    border-width: 5px;
    font-size: 30px;
    line-height: 55px;
  }
  .contacts {
    padding: 15px 0 0;
    margin-left: -30px;
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  .contacts__title {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .contacts__inner, .contacts__left, .contacts__right {
    display: block;
  }
  .contacts__left {
    padding: 30px 15px 15px;
  }
  .contacts__item {
    font-size: 16px;
  }
  .contacts__right {
    padding-top: 100%;
    width: 100%;
  }
  .contacts__form {
    display: block;
    background-color: #324d7d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c305a), to(#5077ad));
    background-image: -webkit-linear-gradient(top, #1c305a, #5077ad);
    background-image: -o-linear-gradient(top, #1c305a, #5077ad);
    background-image: linear-gradient(to bottom, #1c305a, #5077ad);
    padding: 15px;
  }
  .footer {
    padding: 15px 0;
  }
  .footer__inner {
    table-layout: initial;
  }
  .footer__middle {
    display: none;
  }
  .footer .logo {
    max-width: 105px;
  }
  .footer .phone {
    font-size: 0;
  }
  .footer .phone a {
    font-size: 18px;
    margin: 0;
  }
  .popup__box {
    padding: 35px 20px;
  }
  .popup .form__title {
    font-size: 16px;
  }
  .response__box {
    padding: 35px 20px;
  }
  .response__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .response__text {
    font-size: 16px;
  }
  .pics {
    padding: 30px 0;
  }
  .pics__title {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .pics__list {
    display: block;
    overflow: hidden;
  }
  .pics__item {
    margin: 0 !important;
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-dots {
    bottom: auto;
    position: relative;
    margin-top: 10px;
  }
  .slick-dots li {
    display: inline-block;
    width: auto;
    height: auto;
  }
  .slick-dots li button {
    width: 12px;
    height: 12px;
    background-color: #8a92a6;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  .slick-dots li.slick-active button, .slick-dots li:hover button {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #00b8ff;
  }
}
