doctype html
html

	head
		meta(charset='utf-8')
		title VentProект - Системы вентиляции
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")
			
		script(type='text/javascript').
			(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
			m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
			ym(53182684, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
			});
		noscript
			div
				img(src='https://mc.yandex.ru/watch/53182684', style='position:absolute; left:-9999px;', alt='')

	body
		.w-page
			header.header
				.header__top
					.header__inner
						.header__logo
							img.logo(src="img/logo.png", alt="")
						.header__middle
							span.bage.bage--invert.js-modal Гарантия до 5 лет
							button.bage.js-modal Позвоните мне
						.header__phone
							.phone Без выходных
								a(href="tel:+74953749832") +7 (495) 374-98-32
								a(href="tel:88002229416").hide-on-mobile 8 (800) 222-94-16
				.header__bottom
					.header__nav
						button.header__burger.js-menuToggle
						.menu
							nav.menu__list
								a.menu__item(href="#seo") О компании
								a.menu__item(href="#reasons") Преимущества
								a.menu__item(href="#clients") Наши клиенты
								a.menu__item.menu__item--highlight(href="#pricelist") Цены
								a.menu__item.menu__item--highlight(href="#pics") Наши работы
								a.menu__item.menu__item--highlight(href="#contacts") Контакты
							.menu__footer
								span.bage.bage--invert.js-modal Гарантия до 5 лет
								button.bage.js-modal Позвоните мне


			section.hero
				.container
					.hero__inner
						.hero__left
							h1.hero__title Проектирование и монтаж #[strong Надежной вентиляции]
							p.hero__subtitle Гарантия до 5 лет на монтаж и обслуживание#[br] всех инженерных систем.
							p.hero__price Цены на услуги #[strong от 350 &#8381;/м2]
							.hero__footer
								button.hero__button.btn.js-modal Заказать
								.hero__phones
									a.hero__phone(href="tel:+74953749832") +7 (495) 374-98-32
						.hero__right
							p.hero__step #[i 1] Сделаем проект#[br] БЕСПЛАТНО
							p.hero__step #[i 2] Выезд в день обращения
							.hero__form
								form.form#order_form(action="", method="post")
									p.form__title закажи выезд инженера для оценки стоимости
									input(type="tel", name="phone", placeholder="Ваше телефон", required).form__field
									input(type="hidden", name="form", value="hero")
									button.form__btn.btn.js-submit Отправить


			section.guarantees
				.container
					.guarantees__inner
						ul.guarantees__list
							li.guarantees__item.guarantees__item--1
								p.guarantees__item-title Только качественные материалы
								p.guarantees__item-text Мы дорожим своим именем, и мы против одноразовой экономии на клиенте
							li.guarantees__item.guarantees__item--2
								p.guarantees__item-title Высококласcные мастера и сотрудники!
								p.guarantees__item-text У нас в штате только профессиональные проектировщики, монтажники, инженеры-строители и технологи.
							li.guarantees__item.guarantees__item--3
								p.guarantees__item-title Гарантийные обязательства!
								p.guarantees__item-text Гарантия до 5 лет на монтаж и обслуживание всех инженерных систем. Гарантируем сокращение бюджета эксплутационных расходов, за счет увеличения КПД оборудования и инженерных систем.
					p.guarantees__promo #[strong Гарантия до 60 мес.] Сделаем бесплатно понятную и развернутую смету за 24 часа!

		
			section.places
				.container
					.places__inner
						h2.places__title Осуществляем монтаж вентиляции под ключ на любых объектах, от квартиры до промышленного предприятия
						.places__slider
							ul.places__list
								li.places__item
									img.places__item-img(src="img/places-img-1.jpg", alt="")
									p.places__item-text Торговые и административные#[br] здания и помещения
								li.places__item
									img.places__item-img(src="img/places-img-2.jpg", alt="")
									p.places__item-text Промышленные#[br] объекты
								li.places__item
									img.places__item-img(src="img/places-img-3.jpg", alt="")
									p.places__item-text Объекты#[br] специального назначения
								li.places__item
									img.places__item-img(src="img/places-img-4.jpg", alt="")
									p.places__item-text Спортивно-оздоровительные комплексы
								li.places__item
									img.places__item-img(src="img/places-img-5.jpg", alt="")
									p.places__item-text Объекты#[br] здравоохранения
								li.places__item
									img.places__item-img(src="img/places-img-6.jpg", alt="")
									p.places__item-text Предприятия общественного#[br] питания
								li.places__item
									img.places__item-img(src="img/places-img-7.jpg", alt="")
									p.places__item-text Гостиничный#[br] бизнес
								li.places__item
									img.places__item-img(src="img/places-img-8.jpg", alt="")
									p.places__item-text Объекты культуры#[br] и образования
								li.places__item
									img.places__item-img(src="img/places-img-9.jpg", alt="")
									p.places__item-text Частные#[br] объекты





			section.pricelist#pricelist
				.container
					.pricelist__inner
						h2.pricelist__title Цены на услуги
						p.pricelist__disclamer Цены указаны без учета стоимости деталей
						.pricelist__categories
							p.pricelist__tab(data-tab-id=1).active Монтаж систем#[br] вентиляции
							.pricelist__prices(data-content-id=1).active
								.pricelist__prices-item
									p.pricelist__prices-name Воздуховоды
									p.pricelist__prices-price от 490 ₽/м2
								.pricelist__prices-item
									p.pricelist__prices-name Вентиляторы
									p.pricelist__prices-price от 4 500 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Шумоглушители
									p.pricelist__prices-price от 980 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Приточная установка
									p.pricelist__prices-price от 14 900 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Теплоизоляция
									p.pricelist__prices-price от 150 ₽/м2
							p.pricelist__tab(data-tab-id=2) Монтаж систем#[br] кондиционирования
							.pricelist__prices(data-content-id=2)
								.pricelist__prices-item
									p.pricelist__prices-name Кондиционер
									p.pricelist__prices-price от 8 900 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Дренажная помпа
									p.pricelist__prices-price от 1 580 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Канальный кондиционер
									p.pricelist__prices-price от 9 870 ₽
								.pricelist__prices-item
									p.pricelist__prices-name VRV система
									p.pricelist__prices-price от 27 800 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Опрессовка азотом
									p.pricelist__prices-price от 7 500 ₽
							p.pricelist__tab(data-tab-id=3) Монтаж систем#[br] холодоснабжения
							.pricelist__prices(data-content-id=3)
								.pricelist__prices-item
									p.pricelist__prices-name Чиллер
									p.pricelist__prices-price от 87 340 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Фанкойл
									p.pricelist__prices-price от 7 580 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Трубопровод
									p.pricelist__prices-price от 210 ₽/м.п.
								.pricelist__prices-item
									p.pricelist__prices-name Узел обвязки
									p.pricelist__prices-price от 5 370 ₽
								.pricelist__prices-item
									p.pricelist__prices-name ПУльт управления
									p.pricelist__prices-price от 1 430 ₽
							p.pricelist__tab(data-tab-id=4) Монтаж систем#[br] дымоудаления
							.pricelist__prices(data-content-id=4)
								.pricelist__prices-item
									p.pricelist__prices-name Воздуховоды
									p.pricelist__prices-price от 750 ₽/м2
								.pricelist__prices-item
									p.pricelist__prices-name Огнезащита
									p.pricelist__prices-price от 350 ₽/м2
								.pricelist__prices-item
									p.pricelist__prices-name Вентилятор
									p.pricelist__prices-price от 18 340 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Клапан дымоудаления
									p.pricelist__prices-price от 3 240 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Щит управления
									p.pricelist__prices-price от 9 370 ₽
							p.pricelist__tab(data-tab-id=5) Автоматизация#[br] и диспетчерезация
							.pricelist__prices(data-content-id=5)
								.pricelist__prices-item
									p.pricelist__prices-name Прокладка кабеля
									p.pricelist__prices-price от 18 ₽/м.п.
								.pricelist__prices-item
									p.pricelist__prices-name Установка лотка
									p.pricelist__prices-price от 210 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Сборка щита
									p.pricelist__prices-price от 14 730 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Установка датчика
									p.pricelist__prices-price от 470 ₽
								.pricelist__prices-item
									p.pricelist__prices-name Пусконаладочные работы
									p.pricelist__prices-price от 8 720 ₽
							p.pricelist__tab(data-tab-id=6) Алмазное бурение#[br] отверстий
							.pricelist__prices(data-content-id=6)
								.pricelist__prices-item
									p.pricelist__prices-name В кирпиче
									p.pricelist__prices-price от 14 ₽/см
								.pricelist__prices-item
									p.pricelist__prices-name В бетоне
									p.pricelist__prices-price от 18 ₽/см
								.pricelist__prices-item
									p.pricelist__prices-name В армированном бетоне
									p.pricelist__prices-price от 20 ₽/см
							.pricelist__form
								form.form#order_form(action="", method="post")
									p.pricelist__step #[i 1] Сделаем проект#[br] БЕСПЛАТНО
									p.pricelist__step #[i 2] Выезд в день обращения
									p.form__title закажи выезд инженера для оценки стоимости
									input(type="tel", name="phone", placeholder="Ваше телефон", required).form__field
									input(type="hidden", name="form", value="pricelist")
									button.form__btn.btn.js-submit Отправить

			
			section.promo
				.container
					.promo__inner
						p.promo__text Узнайте стоимость#[br] монтажа
						form.promo__form
							input.promo__field(type="tel", placeholder="Телефон", required, name="phone")
							input(type="hidden", name="form", value="pricelist")
							button.promo__btn.js-submit Узнать


			section.pics#pics
				.container
					.pics__inner
						h2.pics__title Наши работы
						.pics__slider
							.pics__list
								.pics__item(data-src="img/pic-1.jpg")
									img(src="img/pic-1.jpg", alt="")
								.pics__item(data-src="img/pic-2.jpg")
										img(src="img/pic-2.jpg", alt="")
								.pics__item(data-src="img/pic-3.jpg")
									img(src="img/pic-3.jpg", alt="")
								.pics__item(data-src="img/pic-4.jpg")
									img(src="img/pic-4.jpg", alt="")
								.pics__item(data-src="img/pic-5.jpg")
									img(src="img/pic-5.jpg", alt="")
								.pics__item(data-src="img/pic-6.jpg")
									img(src="img/pic-6.jpg", alt="")
								.pics__item(data-src="img/pic-7.jpg")
									img(src="img/pic-7.jpg", alt="")
								.pics__item(data-src="img/pic-8.jpg")
									img(src="img/pic-8.jpg", alt="")
								.pics__item(data-src="img/pic-9.jpg")
									img(src="img/pic-9.jpg", alt="")

			section.call
				.container
					.call__inner
						p.call__text Убедитесь в нашей#[br] экспертности лично
						form.call__form
							input.call__field(type="tel", placeholder="Телефон", required, name="phone")
							input(type="hidden", name="form", value="afterGallery")
							button.call__btn.js-submit Узнать

			section.scheme
				.container
					.scheme__inner
						h2.scheme__title Рабочий алгоритм
						ul.scheme__list
							li.scheme__item #[strong 1] Вы связываетесь с нами по телефону +7(495)374-98-32
							li.scheme__item #[strong 2] Наши специалисты выезжают к Вам на объекты
							li.scheme__item #[strong 3] Согласовываем условия выполнения работ
							li.scheme__item #[strong 4] Заключаем с Вами договор
							li.scheme__item #[strong 5] Мы выполняем работы в сроки, прописанные в договоре
							li.scheme__item #[strong 6] Сдаем работы Вы довольны

			section.questions
				.container
					.questions__inner
						p.questions__text #[strong Остались вопросы?] Позвоните нам и мы ответим#[br] на все ваши вопросы
						form.questions__form
							input.questions__field(type="tel", placeholder="Телефон", required, name="phone")
							input(type="hidden", name="form", value="beforeClients")
							button.questions__btn.js-submit Узнать


			section.clients#clients
				.container
					.clients__inner
						h2.clients__title Наши клиенты
						.clients__list
							img.clients__item(src="img/clients-logo-1.jpg", alt="")
							img.clients__item(src="img/clients-logo-2.jpg", alt="")
							img.clients__item(src="img/clients-logo-3.jpg", alt="")
							img.clients__item(src="img/clients-logo-4.jpg", alt="")
							br
							img.clients__item(src="img/clients-logo-5.jpg", alt="")
							img.clients__item(src="img/clients-logo-6.jpg", alt="")
							img.clients__item(src="img/clients-logo-7.jpg", alt="")
							img.clients__item(src="img/clients-logo-8.jpg", alt="")

			section.seo#seo
				.container
					.seo__inner
						h2.seo__title Наша компания производит проектирование#[br] и монтаж инженерных систем
						p.seo__text #[img(src="img/seo-img.jpg", alt="")] Профессиональный монтаж инженерных сетей является неотъемлемой частью строительства зданий и сооружений. Осуществить грамотно и ответственно монтаж инженерной сети помогут наши специалисты – монтажники и инженеры-строители, обладающие огромным опытом монтажа сетей водоснабжения, отопления и электрики. 
						p.seo__text Наши монтажники смогут провести монтаж и прокладку внутренних инженерных систем и сетей. Монтаж внутренних инженерных сетей и систем, осуществляемый нашей компанией, включает в себя:
						ol 
							li Монтаж водоснабжения и канализации
							li Монтаж вентиляции и кондиционирования
							li Монтаж отопления
							li Монтаж ИТП или котельной
							li Монтаж электроснабжения и освещения
							li Монтаж слаботочных систем (охранной и пожарной сигнализации, системы видеонаблюдения, телефонизации, радиофикации, часофикации, контроля доступа, ЛВС, автоматизации и диспетчеризации инженерных систем, системы «Умный дом»)
						p.seo__text Прокладка инженерных сетей производится на основании проектных решений заказчика, а также разработанных нашей компанией. Работаем с заказами различных объемов!)

			section.reasons#reasons
				.container
					.reasons__inner
						h2.reasons__title Почему VentProект ?
						ul.reasons__list
							li.reasons__item #[strong] Разработаем концепцию и сориентируем по бюджету от 2-х часов
							li.reasons__item #[strong] Разработаем 3d модель системы от 1 дня
							li.reasons__item #[strong] Разработаем проектную документацию
							li.reasons__item #[strong] Подберем  оптимальное оборудование
							li.reasons__item #[strong] Предоставим календарный график выполнения работ
							li.reasons__item #[strong] Выполним монтажные и пуско-наладочные работы
							li.reasons__item #[strong] Произведем паспортизацию и ввод в эксплуатацию
							li.reasons__item #[strong] Обучим правильной эксплуатации системы

			section.contacts#contacts
				.container
					.contacts__form
						form.form#order_form(action="", method="post")
							p.form__title закажи выезд инженера для оценки стоимости
							input(type="tel", name="phone", placeholder="Ваше телефон", required).form__field
							input(type="hidden", name="form", value="contactsMobile")
							button.form__btn.btn.js-submit Перезвоните мне
					.contacts__inner
						.contacts__left
							h2.contacts__title Контакты
							p.contacts__item Россия, Москва, Малая Юшуньская улица, 1, корп. 2
							p.contacts__item Телефон: #[a(href="tel:+74953749832") +7 (495) 374-98-32]
							p.contacts__item Телефон: #[a(href="tel:88002229416") 8 (800) 222-94-16]
							p.contacts__item Почта: info@ventproekt.ru
						.contacts__right
							iframe(src='https://yandex.ru/map-widget/v1/-/CCBubOOZ?width=100%', frameborder='1', allowfullscreen='true').contacts__map

			footer.footer
				.container
					.footer__inner
						.footer__left
							img.logo(src="img/logo-2.png", alt="")
						.footer__middle
							span.bage.js-modal Гарантия до 5 лет
							button.bage.bage--invert.js-modal Позвоните мне
						.footer__right
							.phone Без выходных
								a(href="tel:+74953749832") +7 (495) 374-98-32

			.popup
				table.popup__wrapper
					tbody
						tr
							td.popup__inner
								.popup__box
									button.popup__close
									form.form#order_form(action="", method="post")
										p.form__title Оставьте номер вашего телефона и мы вам перезвоним
										input(type="tel", name="phone", placeholder="Ваше телефон", required).form__field
										input(type="hidden", name="form", value="popup")
										button.form__btn.btn.js-submit Перезвоните мне

			.modal
				table.modal__wrapper
					tbody
						tr
							td.modal__inner
								.modal__box
									button.modal__close
									form.form#order_form(action="", method="post")
										p.modal__step #[i 1] Сделаем проект#[br] БЕСПЛАТНО
										p.modal__step #[i 2] Выезд в день обращения
										p.form__title Оставьте номер вашего телефона и мы вам перезвоним
										input(type="tel", name="phone", placeholder="Ваше телефон", required).form__field
										input(type="hidden", name="form", value="places")
										button.form__btn.btn.js-submit Перезвоните мне

			.response
				table.response__wrapper
					tbody
						tr
							td.response__inner
								.response__box
									button.response__close
									p.response__title Ваша заявка принята
									p.response__text Спасибо за ваше доверие! В ближайшее время мы вам перезвоним.
									

		script(src="js/jquery.sticky.js")
		script(src="js/lightgallery.min.js")
		script(src="js/slick.min.js")
		script(src="js/common.js")